body { background: #0f0f0f; }
/*-----------------------------------------------------------------------------------
HEADER STYLES
////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

///--------------------------------------------------------------------------------//   */
header {
    background: #161415 url(../images/header-back.jpg) no-repeat center;
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background-size: cover !important;
     -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}


/* nav-wrap */
#nav-wrap {
   display: inline;
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
.opaque { background-color: #333; }

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
   display: inline;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
   color: #0f0f0f;
}


/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

/* Links */
ul#nav li a {

    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
    
       display: inline-block;
       padding: 8px 13px;
       line-height: 32px;
        text-decoration: none;
       text-align: left;
       color: rgb(14, 1, 1);
    
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
    }
    
ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #e65e09; }

header .banner-text { width: 100%; }
header .banner-text h1 {
   
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: rgb(216, 135, 81); 
   letter-spacing: -2px;
   margin: 50 auto 18px auto;
   text-shadow: 2px 3px 5px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color:  rgb(216, 135, 81);
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

/*-----------------------------------------------------------------------------------
ABOUT STYLES
////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

///--------------------------------------------------------------------------------//   */
#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}


    



#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 275px;
   height: 400px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }


#about .main-col { padding-right: 5%; }


/*-----------------------------------------------------------------------------------
Portfolio STYLES
////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

///--------------------------------------------------------------------------------//   */



#portfolio {
    background: #ebeeee;
    padding-top: 90px;
    padding-bottom: 60px;
 }
 #portfolio h1 {
    font: 15px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
 }




/*-----------------------------------------------------------------------------------
CONTACT STYLES
////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////

///--------------------------------------------------------------------------------//   */


 #contact {
    background: #191919;
    padding-top: 96px;
    padding-bottom: 102px;
    color: #636363;
 }
 #contact .section-head { margin-bottom: 42px; }
 
 #contact a, #contact a:visited  { color: #11ABB0; }
 #contact a:hover, #contact a:focus { color: #fff; }
 
 #contact h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #EBEEEE;
    margin-bottom: 6px;
 }
 #contact h1 span { display: none; }
 #contact h1:before {
    font-family: 'FontAwesome';
    content: "\f0e0";
     padding-right: 10px;
     font-size: 72px;
    line-height: 72px;
    text-align: left;
    float: left;
    color: #ebeeee;
 }
 
 #contact h4 {
    font: 16px/24px 'opensans-bold', sans-serif;
    color: #EBEEEE;
    margin-bottom: 6px;
 }
 #contact p.lead {
    font: 18px/36px 'opensans-light', sans-serif;
    padding-right: 3%;
 }
 #contact .header-col { padding-top: 6px; }
 
 